@{

}
@foreach (var u in Model)
{
    <h2>Are you sure want to delete?</h2>
}
<form method="post">
    <input type="submit" value="Yes" class="btn btn-danger" />
    <a href="/k207admin/adminsection1">Cancel</a>
</form>